@import "variables";
@import "responsive.scss";
@import "textTypography.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  overflow-x: hidden;

  &.hidden {
    overflow: hidden;
  }
}
