@mixin textTypography(
  $family,
  $size,
  $style,
  $weight,
  $height,
  $spacing,
  $align
) {
  font-family: $family, sans-serif;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
  text-align: $align;
}
