// Breadcrumb Section
#breadcrumb__section {
  height: 96.67px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;

  @include responsive(mobile-large) {
    height: 174px;
  }

  @include responsive(tablet) {
    height: 232px;
  }

  @include responsive(pc-small) {
    height: 300.08px;
  }

  @include responsive(pc) {
    height: 363px;
  }

  @include responsive(pc-large) {
    height: 484px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f0ebff;
    opacity: 0.4;
    z-index: -1;
  }

  //Breadcrumb list items
  .breadcrumb__items {
    display: flex;
    flex-direction: column;
    height: 100%;

    //Header photo style
    .header__image {
      width: 140.07px;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }

      @include responsive(mobile-large) {
        width: 200px;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      @include responsive(tablet) {
        width: 240px;
        img {
          width: 100%;
          height: 100%;
        }
      }

      @include responsive(pc-small) {
        width: 320px;
        height: calc(100% - 66px);
        img {
          width: 100%;
          height: 100%;
        }
      }

      @include responsive(pc) {
        width: 400px;
        img {
          width: 100%;
          height: 100%;
        }
      }

      @include responsive(pc-large) {
        width: 520px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .breadcrumb__list {
    display: none;
  }

  @include responsive(pc-small) {
    .breadcrumb__list {
      display: block;
      padding: 24px;
      padding-bottom: 20px;
      list-style: none;
      color: $text-medium-grey;

      li {
        display: inline;
        font-size: 14px;
        line-height: 22px;
      }
      li + li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
      }
      li a {
        color: $text-light-grey;
        text-decoration: none;
      }
      li a:hover {
        color: #242525;
        text-decoration: underline;
      }
    }
  }

  //Breadcrumb header photo + text
  .breadcrumb__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    @include responsive(pc-small) {
      margin-left: 31px;
      padding-top: 70px;
    }

    @include responsive(pc) {
      margin: auto 0;
      padding: 0;
    }

    @include responsive(pc-large) {
      padding-left: 140px;
    }

    //Header text style
    .header__text {
      h1 {
        display: none;
      }

      p {
        display: none;
      }

      @include responsive(tablet) {
        max-width: 443px;
        margin: 0 auto;
        height: auto;
        h1 {
          display: block;
          @include textTypography(Inter, 38px, normal, 600, 46px, 0, left);
          color: $text-dark;
        }
        p {
          display: none;
        }
      }

      @include responsive(pc-small) {
        max-width: 645px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 0;

        h1 {
          @include textTypography(Inter, 46px, normal, 600, 54px, 0, left);
          margin-bottom: 8px;
          padding-right: 175px;
        }

        p {
          display: block;
          @include textTypography(Inter, 16px, normal, 400, 24px, 0, left);
          color: $text-dark;
          margin-bottom: 36px;
        }
      }

      @include responsive(pc) {
        .span-weight {
          font-weight: 700;
        }

        h1 {
          @include textTypography(Inter, 56px, normal, 600, 64px, 0, left);
          margin-bottom: 24px;
          padding-right: 75px;
        }

        p {
          @include textTypography(Inter, 18px, normal, 400, 26px, -0.3px, left);
          margin: 0;
        }
      }

      @include responsive(pc-large) {
        max-width: 895px;
        h1 {
          padding-right: 375px;
        }
      }
    }
  }
}

//Breadcrumb section paragraph for mobile and tablet
.header__paragraph {
  max-width: 287px;
  margin: 0 auto;
  margin-top: 25px;

  p {
    @include textTypography(Inter, 14px, normal, 400, 22px, 0, center);
    color: $text-dark;
  }

  @include responsive(mobile-large) {
    max-width: 528px;
    margin-top: 32px;
  }

  @include responsive(tablet) {
    max-width: 718px;
    p {
      @include textTypography(Inter, 16px, normal, 400, 24px, 0, center);
    }
  }

  @include responsive(pc-small) {
    display: none;
  }
}
