* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  transition: 0.4s ease;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: -1;
  }

  .slider-container {
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16),
      0 3px 6px rgba($color: #000000, $alpha: 0.23);
    height: 70vh;
    width: 70vw;
    position: relative;
    overflow: hidden;

    .slide {
      opacity: 0;
      height: 100vh;
      width: 100vw;
      background-position: center center;
      background-size: cover;
      position: absolute;
      top: -15vh;
      left: -15vw;
      transition: 0.4s ease;
      z-index: 1;

      &.active {
        opacity: 1;
      }
    }

    .arrow {
      position: fixed;
      background-color: transparent;
      border: 2px solid orange;
      color: #fff;
      padding: 20px;
      font-size: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    .left-arrow {
      left: calc(15vw - 70px);
    }

    .right-arrow {
      right: calc(15vw - 70px);
    }
  }
}
