$border-color: #144fc6;
$fill-color: #6ab3f8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #686de0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  align-items: center;

  h1 {
    margin: 10px 0 0;
  }

  h3 {
    font-weight: 400;
    margin: 10px 0;
  }
}

.cup {
  background-color: #fff;
  border: 4px solid $border-color;
  color: $border-color;
  border-radius: 0 0 40px 40px;
  height: 330px;
  width: 150px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.cup-small {
    width: 50px;
    height: 95px;
    border-radius: 0 0 15px 15px;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;

    &.full {
      background-color: $fill-color;
      color: #fff;
    }
  }

  .remained {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;

    span {
      font-size: 20px;
      font-weight: bold;
    }

    small {
      font-size: 12px;
    }
  }

  .percentage {
    background-color: $fill-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    height: 0;
    transition: 0.3s ease;
  }
}

.cups {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 280px;
}

.text {
  text-align: center;
  margin: 0 0 5px;
}
