* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  .empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background: white;

    .fill {
      background-image: url("https://source.unsplash.com/random/150x150");
      height: 145px;
      width: 145px;
      cursor: pointer;
    }
  }

  .hold {
    border: solid 5px #ccc;
  }

  .hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
  }
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
