@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;

  .panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #333;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;

    h3 {
      font-size: 28px;
      position: absolute;
      bottom: 20px;
      left: 20px;
      margin: 0;
      opacity: 0;
    }
  }

  .active {
    flex: 5;

    h3 {
      opacity: 1;
      text-shadow: 1px 1px #f4f4f4;
      transition: opacity 0.3s ease-in 0.4s;
    }
  }
}

@media (max-width: 480px) {
  .container {
    width: 100vw;

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }
}
