* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: rgba($color: #000000, $alpha: 0.4);
  padding: 20px 40px;
  border-radius: 5px;

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
    color: lightblue;
  }

  form {
    .form-control {
      position: relative;
      margin: 20px 0;
      width: 300px;

      input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px #fff solid;
        display: block;
        width: 100%;
        padding: 18px 0;
        font-size: 18px;
        color: #fff;

        &:focus,
        &:valid {
          outline: 0;
          border-bottom-color: lightblue;
        }

        &:focus + label span,
        &:valid + label span {
          color: lightblue;
          transform: translateY(-30px);
        }
      }

      label {
        position: absolute;
        top: 15px;
        left: 0;

        span {
          display: inline-block;
          font-size: 18px;
          min-width: 5px;
          transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      }
    }

    .btn {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      background: lightblue;
      padding: 15px;
      font-family: inherit;
      font-size: 16px;
      border: 0;
      border-radius: 5px;

      &:focus {
        outline: 0;
      }

      &:active {
        transform: scale(0.98);
      }
    }
    .text {
      margin-top: 30px;
    }
  }
}
