* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2a2a72;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.user-form {
  width: 100%;
  max-width: 700px;

  input {
    width: 100%;
    display: block;
    background-color: #4c2885;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0px 5px 10px rgba(154, 160, 185, 0.05),
      0px 5px 40px rgba(0, 0, 0, 0.1);

    &::placeholder {
      color: #bbb;
    }

    &:focus {
      outline: none;
    }
  }
}

#main {
  .card {
    max-width: 800px;
    background-color: #4c2885;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(154, 160, 185, 0.05),
      0px 5px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;

    .avatar {
      border-radius: 50%;
      border: 10px solid #2a2a72;
      height: 150px;
      width: 150px;
    }

    .user-info {
      color: #eee;
      margin-left: 2rem;

      h2 {
        margin-top: 0;
      }

      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        max-width: 400px;
      }
    }
  }
}
