* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 200px;

  .toggle {
    visibility: hidden;

    &:checked + .label {
      background-color: #8e44ad;
    }

    &:checked + .label .ball {
      animation: slideOn 0.3s linear forwards;
    }
  }

  .label {
    background-color: #d0d0d0;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0;
    width: 80px;
    height: 40px;
    position: relative;

    .ball {
      background: #fff;
      height: 34px;
      width: 34px;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      left: 3px;
      align-items: center;
      justify-content: center;
      animation: slideOff 0.3s linear forwards;
    }
  }
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(40px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(40px) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
