* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel {
  box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;

  .image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;

    img {
      width: 500px;
      height: 500px;
      object-fit: cover;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;

    .btn {
      background-color: rebeccapurple;
      color: #fff;
      border: none;
      padding: 0.5rem;
      cursor: pointer;
      width: 49.5%;

      &:hover {
        opacity: 0.9;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
