* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8e44ad;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 50px;
  text-align: center;

  .counter {
    font-size: 60px;
    margin-top: 10px;
  }
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
