$primary-color: #22254b;
$secondary-color: #373b69;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $primary-color;

  header {
    background-color: $secondary-color;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;

    form {
      .search {
        background-color: transparent;
        border: 2px solid $primary-color;
        border-radius: 50px;
        font-family: inherit;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        color: #fff;

        &::placeholder {
          color: #7378c5;
        }

        &:focus {
          outline: none;
          background-color: $primary-color;
        }
      }
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;

    .movie {
      width: 300px;
      margin: 1rem;
      background-color: $secondary-color;
      box-shadow: 0 4px 5px rgba($color: #000000, $alpha: 0.2);
      position: relative;
      overflow: hidden;
      border-radius: 3px;

      img {
        width: 100%;
      }

      .movie-info {
        color: #eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem 1rem;
        letter-spacing: 0.5px;

        span {
          background-color: $primary-color;
          padding: 0.25rem 0.5rem;
          border-radius: 3px;
          font-weight: bold;

          &.green {
            color: lightgreen;
          }

          &.orange {
            color: orange;
          }

          &.red {
            color: red;
          }
        }
      }

      .overview {
        background-color: #fff;
        padding: 2rem;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        max-height: 100%;
        transform: translateY(101%);
        transition: transform 0.3s ease-in;
      }

      &:hover .overview {
        transform: translateY(0);
      }
    }
  }
}
