@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;

  .circle-container {
    position: fixed;
    top: -100px;
    left: -100px;

    .circle {
      background-color: #ff7979;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      position: relative;
      transition: transform 0.5s linear;

      button {
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 50%;
        height: 100px;
        background: transparent;
        border: none;
        font-size: 26px;
        color: #fff;

        &:focus {
          outline: none;
        }

        &#open {
          left: 60%;
        }

        &#close {
          top: 60%;
          transform: rotate(90deg);
          transform-origin: top left;
        }
      }
    }
  }

  .content {
    max-width: 1000px;
    margin: 50px auto;

    img {
      max-width: 100%;
    }

    h1 {
      margin: 0;
    }

    small {
      color: #555;
      font-style: italic;
    }

    p {
      color: #333;
      line-height: 1.5;
    }
  }
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;

  ul {
    list-style: none;
    padding-left: 30px;

    li {
      text-transform: uppercase;
      color: #fff;
      margin: 40px 0;
      transform: translateX(-100%);
      transition: transform 0.4s ease-in;

      i {
        font-size: 20px;
        margin-right: 10px;
      }

      & + li {
        margin-left: 15px;
        transform: translateX(-150%);

        & + li {
          margin-left: 30px;
          transform: translateX(-200%);
        }
      }
    }
  }
}
.show-nav {
  transform: rotate(-20deg);

  & + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
  }

  .circle {
    transform: rotate(-70deg);
  }
}
