* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 150px;
}

.text {
  text-transform: uppercase;
}

.nav-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  &.visible {
    transform: translateX(0);
  }
}

.nav-black {
  background-color: rgb(34, 31, 31);
  width: 70%;
  max-width: 480px;
  min-width: 320px;
  transition-delay: 0.4s;

  .nav-red {
    background-color: rgb(229, 9, 20);
    width: 95%;
    transition-delay: 0.2s;

    .nav-white {
      background-color: #fff;
      width: 95%;
      padding: 40px;
      position: relative;
      transition-delay: 0s;

      .close-btn {
        position: absolute;
        top: 40px;
        right: 30px;
        opacity: 0.3;
      }

      .list {
        list-style-type: none;
        padding: 0;

        li {
          margin: 20px 0;

          a {
            color: rgb(34, 31, 31);
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
          }
        }

        ul {
          list-style: none;
          padding-left: 20px;
        }
      }
      &.visible {
        transition-delay: 0.4s;
      }
    }
    &.visible {
      transition-delay: 0.2s;
    }
  }

  &.visible {
    transition-delay: 0s;
  }
}
