* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7bdaf3;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #9ec862;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.note {
  background-color: #fff;
  box-shadow: 0 0 10px 4px rgba($color: #000000, $alpha: 0.1);
  margin: 30px 20px;
  height: 400px;
  width: 400px;

  .tools {
    background-color: #9ec862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;

    button {
      background-color: transparent;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      margin-left: 0.5rem;

      &:focus {
        outline: none;
      }
    }
  }

  textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
    padding: 20px;
  }

  .main {
    padding: 20px;
  }

  .hidden {
    display: none;
  }
}
