* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  img {
    max-width: 100%;
  }

  .card {
    box-shadow: 0 2px 10px rgba($color: #000000, $alpha: 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 350px;

    .card-header {
      height: 200px;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    .card-content {
      background-color: #fff;
      padding: 30px;

      .card-title {
        height: 20px;
        margin: 0;
      }

      .card-excerpt {
        color: #777;
        margin: 10px 0 20px;
      }

      .author {
        display: flex;

        .profile-img {
          border-radius: 50%;
          overflow: hidden;
          height: 40px;
          width: 40px;
        }

        .author-info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin-left: 10px;
          width: 100px;

          small {
            color: #aaa;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
