* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  letter-spacing: 3px;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;

  .pokemon {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;

    .img-container {
      background-color: rgba($color: #fff, $alpha: 0.6);
      border-radius: 50%;
      width: 120px;
      height: 120px;
      text-align: center;

      img {
        max-width: 90%;
        margin-top: 20px;
      }
    }

    .info {
      margin-top: 20px;

      .number {
        background-color: rgba($color: #000000, $alpha: 0.1);
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 0.8em;
      }

      .name {
        margin: 15px 0 7px;
        letter-spacing: 1px;
      }
    }
  }
}
