* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b88f0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 500px;

  h3 {
    color: #fff;
    margin: 10px 0 20px;
    text-align: center;
  }

  #textarea {
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  #tags {
    .tag {
      background-color: #f0932b;
      color: #fff;
      border-radius: 50px;
      padding: 10px 20px;
      margin: 0 5px 10px 0;
      font-size: 14px;
      display: inline-block;
    }

    .tag.highlight {
      background-color: #273c75;
    }
  }
}
