* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba($color: #000000, $alpha: 0.3);
  transform: translateX(300%);
  transition: transform 0.4s ease;

  &:nth-of-type(even) {
    transform: translateX(-300%);
  }

  &.show {
    transform: translateX(0);
  }

  h2 {
    font-size: 45px;
  }
}
