$left-bg-color: rgba(87, 84, 236, 0.6);
$right-bg-color: rgba(43, 43, 43, 0.8);
$left-btn-hover-color: rgba(87, 84, 236, 1);
$right-btn-hover-color: rgba(28, 122, 28, 1);
$hover-width: 75%;
$other-width: 25%;
$speed: 1000ms;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;

  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;

    h1 {
      font-size: 3rem;
      color: #fff;
      position: absolute;
      left: 50%;
      top: 20%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    .btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 50%;
      top: 40%;
      transform: translateX(-50%);
      text-decoration: none;
      color: #fff;
      border: #fff solid 0.2rem;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      width: 15rem;
      padding: 1.5rem;
    }
  }

  .left {
    left: 0;
    background: url("https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/NMWPQ7YKEJH6BGFXTFXI5JHDNA.jpg")
      no-repeat center center/cover;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $left-bg-color;
    }

    .btn:hover {
      background-color: $left-btn-hover-color;
      border-color: $left-btn-hover-color;
    }
  }

  .right {
    right: 0;
    background: url("https://gamespot1.cbsistatic.com/uploads/original/1591/15918215/3766121-1703612219-37322.jpg")
      no-repeat center center/cover;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $right-bg-color;
    }

    .btn:hover {
      background-color: $right-btn-hover-color;
      border-color: $right-btn-hover-color;
    }
  }

  .right,
  .left,
  .right::before,
  .left::before {
    transition: all $speed ease-in-out;
  }
}

.hover-left {
  .left {
    width: $hover-width;
  }

  .right {
    width: $other-width;
  }
}

.hover-right {
  .right {
    width: $hover-width;
  }

  .left {
    width: $other-width;
  }
}

@media (max-width: 800px) {
  .container {
    .split {
      h1 {
        top: 30%;
        font-size: 1.5rem;
      }

      .btn {
        padding: 1.3rem;
        width: 12rem;
      }
    }
  }
}
