@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

$line-border-fill: #3498db;
$line-border-empty: #e0e0e0;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f7fb;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;

  .progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;

    &::before {
      content: "";
      background-color: $line-border-empty;
      position: absolute;
      top: 50%;
      left: 0;
      height: 4px;
      width: 100%;
      transform: translateY(-50%);
      z-index: -1;
    }

    .progress {
      background-color: $line-border-fill;
      position: absolute;
      top: 50%;
      left: 0;
      height: 4px;
      width: 0%;
      transform: translateY(-50%);
      z-index: -1;
      transition: 0.4s ease;
    }

    .circle {
      background-color: #fff;
      color: #999;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid $line-border-empty;
      transition: 0.4s ease;
    }

    .active {
      border-color: $line-border-fill;
    }
  }

  .btn {
    background-color: $line-border-fill;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;

    &:active {
      transform: scale(0.98);
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: $line-border-empty;
      cursor: not-allowed;
    }
  }
}
