@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f7fb;
  color: #222;
  font-family: "Muli", sans-serif;
  padding-bottom: 50px;

  .nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      transition: all 0.3s ease-in-out;

      ul {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
      }
      a {
        color: #fff;
        text-decoration: none;
        padding: 7px 15px;
        transition: all 0.3s ease-in-out;

        &.current,
        &:hover {
          color: #c0392b;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }

    &.active {
      background-color: #fff;
      box-shadow: 0 2px 10px rgba($color: #000000, $alpha: 0.3);

      .container {
        padding: 10px 0;
      }

      a {
        color: #000;
      }
    }
  }

  .hero {
    background-image: url("https://images.unsplash.com/photo-1612841052522-5a9ddb0b5303?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      z-index: -1;
    }

    h1 {
      font-size: 46px;
      margin: -20px 0 20px;
    }

    p {
      font-size: 20px;
      letter-spacing: 1px;
    }
  }

  .content {
    h2,
    h3 {
      font-size: 150%;
      margin: 20px 0;
    }
    p {
      color: #555;
      line-height: 30px;
      letter-spacing: 1.2px;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
