$primary-color: #000;
$secondary-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  transition: all 0.5s ease-in;

  &.dark {
    $primary-color: #fff;
    $secondary-color: #333;
    color: $primary-color;
    background-color: $secondary-color;
  }

  &.light {
    $primary-color: #000;
    $secondary-color: #fff;
    color: $primary-color;
    background-color: $secondary-color;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;

  .toggle {
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .clock {
      position: relative;
      width: 200px;
      height: 200px;

      .needle {
        background-color: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 65px;
        width: 3px;
        transform-origin: bottom center;
        transition: all 0.5s ease-in;
      }

      .hour {
        transform: translate(-50%, -100%) rotate(0deg);
      }

      .minute {
        transform: translate(-50%, -100%) rotate(0deg);
        height: 100px;
      }

      .second {
        transform: translate(-50%, -100%) rotate(0deg);
        height: 100px;
        background-color: #e74c3c;
      }

      .center-point {
        background-color: #e74c3c;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;

        &:after {
          content: "";
          background-color: $primary-color;
          width: 5px;
          height: 5px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }
      }
    }

    .time {
      font-size: 60px;
    }

    .date {
      color: #aaa;
      font-size: 14px;
      letter-spacing: 0.3px;
      text-transform: uppercase;

      .circle {
        background-color: $primary-color;
        color: $secondary-color;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 18px;
        transition: all 0.5s ease-in;
        font-size: 12px;
      }
    }
  }
}
