* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  overflow: hidden;

  .btn {
    background-color: #fff;
    color: rebeccapurple;
    font-family: inherit;
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  #toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .toast {
      background-color: #fff;
      border-radius: 5px;
      padding: 1rem 2rem;
      margin: 0.5rem;

      &.info {
        color: rebeccapurple;
      }
      &.success {
        color: green;
      }
      &.danger {
        color: red;
      }
    }
  }
}
