* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  color: rgb(179, 131, 226);
  font-size: 10rem;
  text-align: center;
  opacity: 0.4;
}

form {
  box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.1);
  max-width: 100%;
  width: 400px;

  .input {
    border: none;
    color: #444;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;

    &::placeholder {
      color: #d5d5d5;
    }

    &:focus {
      outline-color: rgb(179, 131, 226);
    }
  }

  .todos {
    background-color: #fff;
    padding: 0;
    list-style-type: none;
    margin: 0;

    li {
      border-top: 1px solid #e5e5e5;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 1rem 2rem;

      &.completed {
        color: #b6b6b6;
        text-decoration: line-through;
      }
    }
  }
}

small {
  color: #b5b5b5;
  margin-top: 3rem;
  text-align: center;
}
