* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  height: 100vh;

  .slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    .left-slide {
      height: 100%;
      width: 35%;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.5s ease-in-out;

      & > div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
      }

      h1 {
        font-size: 40px;
        margin-bottom: 10px;
        margin-top: -30px;
        text-align: center;
      }
    }

    .right-slide {
      height: 100%;
      position: absolute;
      top: 0;
      left: 35%;
      width: 65%;
      transition: transform 0.5s ease-in-out;

      & > div {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
      }
    }

    .action-buttons {
      button {
        position: absolute;
        left: 35%;
        top: 50%;
        z-index: 100;
      }

      .down-button {
        transform: translateX(-100%);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      .up-button {
        transform: translateY(-100%);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;

    &:hover {
      color: #222;
    }

    &:focus {
      outline: none;
    }
  }
}
