//Section Footer
#footer {
  background-color: $text-darkest-blue;
  width: 100%;

  .footer__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 36px 0;
    margin: 0 24px;
    border-bottom: 1px solid #262b4b;

    @include responsive(pc-small) {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__logo__white {
      padding-bottom: 36px;

      @include responsive(mobile-large) {
        display: none;
      }
    }

    .footer__socials {
      img {
        margin-right: 11px;

        &:last-child {
          margin: 0;
        }
      }
    }

    .footer__download__buttons {
      display: none;

      @include responsive(pc-small) {
        display: flex;
      }

      .appstore__download,
      .playstore__download {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        background: $text-blue;
        padding: 13px 17px;
        border-radius: 6.42424px;
        color: #fff;

        img {
          margin-right: 13px;
          height: 25.7px;
          width: 25.7px;
        }

        p {
          @include textTypography(
            Inter,
            11.25px,
            normal,
            400,
            16px,
            -0.32px,
            left
          );
        }

        h3 {
          @include textTypography(
            Inter,
            16px,
            normal,
            400,
            22.5px,
            -0.4px,
            left
          );
        }
      }

      .appstore__download {
        margin-right: 13px;
      }
    }
  }

  .footer__links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    padding: 32px 24px;

    .list__links {
      p {
        @include textTypography(Inter, 24px, normal, 600, 32px, 0, center);
        color: $text-lighter-grey;
      }
    }
  }
}
