//Section FAQ
#faq {
  margin: 0 13px;
  margin-bottom: 20px;

  @include responsive(mobile-large) {
    margin: 0 24px;
    margin-bottom: 40px;
  }

  .faq__text {
    width: 100%;
    max-width: 1290px;
    margin: auto;
    text-align: center;
    padding-bottom: 14px;
    border-bottom: 1px solid #e1e3e5;

    @include responsive(mobile-large) {
      padding-bottom: 32px;
    }

    h2 {
      @include textTypography(Inter, 24px, normal, 600, 32px, 0, center);
      color: $text-darkest-blue;

      @include responsive(mobile-large) {
        @include textTypography(Inter, 38px, normal, 600, 46px, 0, center);
      }
    }
  }

  .faq__questions__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1290px;
    margin: auto;

    .faq__question {
      padding: 24px;
      border-bottom: 1px solid #e1e3e5;

      h3 {
        @include textTypography(Inter, 20px, normal, 600, 28px, 0, left);
        color: $text-dark;
        margin: auto 0;
      }

      .faq__arrow__question {
        display: flex;
        justify-content: space-between;
        align-content: center;

        &.active {
          .toggler {
            transform: rotate(180deg);
            transition: transform 0.3s ease-in-out;
          }
        }

        .toggler {
          transform: rotate(0);
          transition: transform 0.3s ease-in-out;
        }
      }

      .faq__answer {
        margin-top: 16px;
        display: none;
        @include textTypography(Inter, 16px, normal, 400, 24px, 0, left);
        color: $text-light-grey;
        transition: all 0.3s ease-in-out;

        &.show {
          display: block;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
