#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 64px;
  padding: 0 17px;
  box-shadow: inset 0px -1px 0px #d0d1d6;

  @include responsive(mobile-large) {
    padding: 0 24px;
  }

  .navigation__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include textTypography(Inter, 16px, normal, 400, 24px, 0, left);

    .menu__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto 0;

      @include responsive(pc-small) {
        .theboatdb {
          display: none;
        }
      }

      @include responsive(pc) {
        .theboatdb {
          display: block;
        }
      }

      .cloud {
        margin-right: 7px;
      }
    }

    .menu__items {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      ul {
        display: none;
      }

      @include responsive(pc-small) {
        ul {
          display: flex;
          justify-content: center;
          align-items: baseline;
          list-style: none;
          padding-left: 6px;

          li {
            margin-left: 24px;
            position: relative;

            a {
              text-decoration: none;
              color: #53576f;

              span {
                color: $text-blue;
                font-size: 12px;
                font-weight: 600;
              }
            }

            &.active a {
              color: $text-blue;
              font-weight: 600;
              padding: 20px 0;
              border-bottom: 2px solid $text-blue;
            }

            ul {
              display: none;
            }

            &:hover ul {
              display: block;
              position: absolute;
              top: 22px;
              left: 10px;
              width: 200px;
              z-index: 1;

              li {
                display: block;
                padding: 10px;
                background: #e7e7e7;

                a {
                  color: #333;
                }

                &:hover {
                  background: #e0e0e0;
                  color: inherit;
                }
              }

              li a {
                border: 0;
                color: #333;
                font-weight: 400;
              }
            }
          }
        }
      }

      @include responsive(pc) {
        ul {
          padding-left: 16px;
        }
      }
    }
  }
  .navigation__search {
    @include textTypography(Inter, 16px, normal, 400, 24px, 0, left);
    margin: 16px 0;

    ul {
      margin: auto 0;
      li {
        display: none;

        &:first-child {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          cursor: pointer;
        }
      }
    }

    @include responsive(pc-small) {
      ul {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;

        li {
          display: block;
          padding-left: 16px;

          &:first-child {
            display: none;
          }

          img {
            margin-right: 16px;
            height: 18.75px;
            width: 18.75px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &.login-border-left {
            position: relative;
            padding-left: 16px;
            color: $text-blue;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              height: 32px;
              transform: translateY(-50%);
              border-left: 1px solid #e1e3e5;
            }
          }

          #nav-button {
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            padding: 5px 16px;
            cursor: pointer;
            background: linear-gradient(
              82.89deg,
              #33def2 5.55%,
              #1e7ad5 50%,
              #1e00d5 94.45%
            );
            border: none;
            border-radius: 4px;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}

//Navigation Toggle
.navigation__toggle__menu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: $background-dark-blue;
  min-width: 320px;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 100;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.4s ease;

  &.show {
    display: block;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.4s ease;
  }

  .toggle__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 16px;
    color: $text-light-grey;

    .logo__white {
      max-width: 173px;
    }

    .toggle__remove {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .toggle__menu {
    ul {
      list-style: none;
      width: 100%;

      li {
        display: flex;
        align-items: center;
        padding: 9px 24px;

        span {
          color: #9879fc;
          font-weight: 600;
          font-size: 12px;
          line-height: 20px;
        }

        a {
          color: $text-lighter-grey;
          text-decoration: none;
        }

        &.active__page {
          background-color: $background-medium-blue;
          width: 100%;
        }

        &.flex_li {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }

  .border_div {
    border: 1px solid #262b4b;
  }

  .toggle__search {
    .search__searchbox {
      display: flex;
      align-items: center;
      margin: 16px 24px;

      img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 12.5px;
        width: 12.5px;
      }

      input {
        margin-left: 9.75px;
        background-color: transparent;
        border: none;
        color: $text-lighter-grey;
        @include textTypography(Inter, 16px, normal, 400, 24px, 0, left);

        &::placeholder {
          color: $text-lighter-grey;
          @include textTypography(Inter, 16px, normal, 400, 24px, 0, left);
        }

        &:focus {
          outline: none;
        }
      }
    }

    .search__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px 24px;

      .btn {
        font-size: 14px;
        width: 100%;
        text-align: center;
        color: #fff;
        padding: 5px 16px;
        border-radius: 4px;
        cursor: pointer;
      }

      .search_login {
        border: 1px solid #fff;
        margin-bottom: 10px;
      }

      .search_try {
        background: linear-gradient(
          82.89deg,
          #33def2 5.55%,
          #1e7ad5 50%,
          #1e00d5 94.45%
        );
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
