/* Align icon to left */
#what .items .item {
  display: flex;
  text-align: left;
}

/* Position icon */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* Map and contact form */
#contact #map {
  flex: 2;
}
#contact .contact-form {
  flex: 1;
}
