@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$font-family: "Inter", sans-serif;

$text-blue: #1e00d5;
$text-dark: #262b4b;
$text-light-grey: #53576f;
$text-medium-grey: #737585;
$text-lighter-grey: #d0d1d6;

$background-dark-blue: #00003d;
$background-medium-blue: #1200b0;
$background-grey_light: #f9f9fa;

$text-darkest-blue: #050b30;
