//Section Choose Plan
#choose__plan {
  margin: 60px 16px;

  @include responsive(mobile-large) {
    margin: 80px 24px;
  }

  //Plan text
  .plan__text {
    margin-bottom: 17px;

    @include responsive(tablet) {
      margin-bottom: 40px;
    }

    h1 {
      @include textTypography(Inter, 30px, normal, 600, 38px, 0, center);
      color: $text-darkest-blue;
      margin-bottom: 16px;
    }

    p {
      @include textTypography(Inter, 18px, normal, 400, 26px, -0.4, center);
      color: $text-medium-grey;
    }

    @include responsive(mobile-large) {
      h1 {
        @include textTypography(Inter, 46px, normal, 600, 54px, 0, center);
        color: $text-darkest-blue;
      }
    }
  }

  //Plan Table
  .plan__table__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include responsive(tablet) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include responsive(pc-small) {
      grid-template-columns: repeat(3, 1fr);
    }

    .table__text {
      padding: 24px;
      grid-column: span 2;

      &.first__element,
      &.last__element {
        display: none;
      }

      @include responsive(tablet) {
        &.first__element,
        &.last__element {
          display: block;
        }
      }

      @include responsive(pc-small) {
        grid-column: 1;
      }

      &.margined__bottom {
        margin-bottom: 40px;
      }

      h3 {
        @include textTypography(Inter, 16px, normal, 600, 24px, 0, left);
        color: $text-dark;
        margin-bottom: 7px;
      }
      p {
        @include textTypography(Inter, 14px, normal, 400, 22px, 0, left);
        color: $text-medium-grey;
      }
    }

    .table__free__element {
      background: $background-grey_light;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 24px 0;
      @include textTypography(Inter, 16px, normal, 600, 24px, 0, center);
      color: $text-dark;
      box-shadow: inset 0px -1px 0px #e1e3e5;

      &.no-underline-shadow {
        box-shadow: none;
      }

      &.last__free__element {
        padding: 0;
        a {
          width: 100%;
          text-decoration: none;
          @include textTypography(Inter, 12px, normal, 500, 20px, 0, center);
          color: $text-blue;

          @include responsive(pc-small) {
            @include textTypography(Inter, 16px, normal, 500, 24px, 0, center);
          }

          &.get__started {
            padding: 8px 0 8px;
            border: 1px solid $text-blue;
            border-radius: 4px;
            margin: 8px 16px;
          }
        }
      }

      @include responsive(tablet) {
        box-shadow: none;
      }

      @include responsive(pc-small) {
        @include textTypography(Inter, 24px, normal, 600, 32px, 0, center);
      }

      p {
        @include textTypography(Inter, 14px, normal, 600, 22px, 0, left);
        color: $text-dark;
      }
    }

    .table__gold__element {
      background: #f4f4f5;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 24px 0;
      @include textTypography(Inter, 16px, normal, 600, 24px, 0, center);
      color: $text-dark;
      box-shadow: inset 0px -1px 0px #e1e3e5;

      &.no-underline-shadow {
        box-shadow: none;
      }

      &.last__gold__element {
        padding: 0;

        a {
          width: 100%;
          text-decoration: none;
          @include textTypography(Inter, 12px, normal, 500, 20px, 0, center);
          color: $text-blue;

          @include responsive(pc-small) {
            @include textTypography(Inter, 16px, normal, 500, 24px, 0, center);
          }

          &.try__gold__free {
            color: #fff;
            padding: 8px 0 8px;
            background: linear-gradient(
              82.89deg,
              #33def2 5.55%,
              #1e7ad5 50%,
              #1e00d5 94.45%
            );
            border: none;
            border-radius: 4px;
            margin: 8px 12px;

            @include responsive(mobile-large) {
              margin: 8px 16px;
            }
          }
        }
      }

      @include responsive(tablet) {
        box-shadow: none;
      }

      @include responsive(pc-small) {
        @include textTypography(Inter, 24px, normal, 600, 32px, 0, center);
      }

      p {
        @include textTypography(Inter, 14px, normal, 600, 22px, 0, left);
        color: $text-dark;
      }

      #gold__header {
        height: 22.86px;
        width: 22.86px;
        margin-right: 12px;

        @include responsive(pc-small) {
          height: 30.48px;
          width: 30.48px;
        }
      }
    }

    .spanned__element {
      background-color: #ebebed;
      padding: 12px 24px;
      box-shadow: inset 0px -1px 0px #d0d1d6;
      border-radius: 6px 0px 0px 0px;
      grid-column: 1/-1;
      @include textTypography(Inter, 20px, normal, 600, 28px, 0, left);
      color: $text-dark;
    }
  }
}
