/* Smartphones */
@media (max-width: 768px) {
  /* Display Only Logo */
  #navigation #login {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  #navigation #menu nav {
    display: none;
  }
  #navigation #menu img {
    display: block;
  }

  /* Content */
  #content .container {
    margin: 0 117px;
  }

  /* What Section */
  #what {
    margin: 60px 117px;
  }

  #what h1 {
    margin: 0;
    padding-top: 40px;
  }

  #what .boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }

  #what .box {
    margin: 16px 13px;
  }

  /* Text Section */
  #text {
    margin: 0 117px;
    margin-top: 200px;
    padding-top: 50px;
  }

  /* Work Section */
  #work {
    display: grid;
    grid-template-columns: 279px 1fr;
  }

  #work .image img {
    width: 100%;
  }

  #work .info {
    margin: 10px;
    padding: 20px;
  }

  /* Footer */
  #footer .data h2 {
    margin: 0 117px;
  }

  #footer .data p {
    margin: 0 117px;
  }
}

@media (max-width: 576px) {
  /* Showcase */
  #showcase {
    width: 100%;
  }

  .container {
    max-width: 576px;
    margin: auto;
    padding: 0;
  }

  /* Display Only Logo */
  #navigation #login {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  #navigation #menu nav {
    display: none;
  }
  #navigation #menu img {
    display: block;
  }

  /* Cover and Content */
  .cover {
    position: absolute;
    bottom: -60%;
  }

  #content .cover p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 20px;
  }

  /* Grid Boxes */
  #what .boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }

  #what .box {
    margin: 6px 3px;
  }

  /* Paragraph content */
  #text {
    margin-top: 15rem;
  }

  #text p {
    margin: 15px;
  }

  /* Grid Work */
  #work {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #work .image img {
    max-width: 576px;
    height: auto;
  }

  #work .info {
    display: block;
    padding: 1rem;
    margin: 20px 30px;
  }

  /* Footer */
  #footer {
    height: auto;
  }

  #footer .data img {
    width: 528px;
    height: 192px;
  }

  #footer .data p {
    margin: 25px;
  }
}
