:root {
  --primary-color: #f0ebff;
  --light-red: #f29983;
  --light-blue: #b0ffff;
  --light-orange: #fff1b8;
  --light-green: #d9f7be;
  --extrawide-screen: 1600px;
  --wide-screen: 1200px;
  --large-screen: 992px;
  --medium-screen: 768px;
  --small-screen: 576px;
  --extrasmall-screen: 320px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

/* Utilities */
.container {
  max-width: var(--medium-screen);
  margin: auto;
  padding: 1rem;
}

span {
  font-weight: 600;
}

/* Nav Menu */
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background: #fff;
}

#navigation #menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#navigation #menu img {
  padding-right: 1rem;
}

#navigation #menu ul,
#navigation #login ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#navigation #menu ul li,
#navigation #login ul li {
  margin: 0.5rem;
}

#navigation #menu ul li:nth-child(3) a {
  color: #1e00d5;
  font-weight: 600;
  font-size: 12px;
}

#navigation #login {
  display: flex;
  justify-content: end;
  align-items: center;
}

#navigation #login i {
  border-right: 1px solid #e1e3e5;
  padding: 1rem;
}

#navigation #login ul li {
  padding-right: 1rem;
}

#navigation #login ul li a {
  color: #1e00d5;
  margin-left: 1rem;
  cursor: pointer;
}

#navigation #login ul li button {
  background: linear-gradient(to right, #33def2, #1e7ad5, #1e00d5);
  padding: 0.75rem 2rem;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

/* Showcase */
#showcase {
  display: block;
  background: var(--primary-color);
  height: 285px;
  max-width: var(--extrawide-screen);
  width: 100%;
  margin: auto;
  position: relative;
}

#showcase ul.breadcrumb {
  padding: 24px;
  list-style: none;
  color: #737585;
}
#showcase ul.breadcrumb li {
  display: inline;
  font-size: 14px;
  line-height: 22px;
}
#showcase ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
#showcase ul.breadcrumb li a {
  color: #53576f;
  text-decoration: none;
}
#showcase ul.breadcrumb li a:hover {
  color: #242525;
  text-decoration: underline;
}

/* Section Content */

#content {
  display: block;
  margin: auto;
}

.position {
  position: relative;
  height: 430px;
  width: 100%;
  margin-bottom: 1rem;
}

.cover {
  position: absolute;
  bottom: -35%;
}
#content img {
  border-radius: 4px;
  margin-bottom: 1.5rem;
  width: 100%;
}

#content h1 {
  font-size: 46px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -0.023em;
  text-align: center;
  color: #262b4b;
  margin-top: 1rem;
}

#content p {
  color: #53576f;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  vertical-align: top;
  padding: 2rem 0;
}

/* Section What */
#what {
  display: block;
  height: 492px;
  background: #ffffff;
  margin-top: 6rem;
}

#what h1 {
  text-align: center;
  font-weight: 600;
  font-size: 46px;
  line-height: 54px;
  margin: 2rem 0;
}

#what .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}

#what .box {
  height: 270px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  position: relative;
}

#what .boxes .box-1 {
  background: var(--light-red);
  flex: 1;
}

#what .boxes .box-2 {
  background: var(--light-blue);
  flex: 1;
}

#what .boxes .box-3 {
  background: var(--light-orange);
  flex: 1;
}

#what .boxes .box-4 {
  background: var(--light-green);
  flex: 1;
}

#what .boxes .box-1 i {
  color: #cc210d;
}

#what .boxes .box-2 i {
  color: #33def2;
}

#what .boxes .box-3 i {
  color: #faad14;
}

#what .boxes .box-4 i {
  color: #52c41a;
}

#what .boxes p {
  position: absolute;
  bottom: 27px;
  font-size: 20px;
  line-height: 28px;
  color: #262b4b;
}

/* Section Text */
#text {
  display: block;
}

#text p {
  color: #262b4b;
  font-size: 24px;
  line-height: 38.4px;
  letter-spacing: -1.2px;
  margin-bottom: 32px;
  text-align: center;
}

/* Section Work */
#work {
  display: flex;
  justify-content: center;
  align-items: center;
}

#work .image {
  max-height: 657px;
}

#work .image img {
  height: 100%;
  max-width: 657px;
}

#work .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 192px 155px;
}

#work .info h2 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 600;
  margin-bottom: 24px;
}

#work .info p {
  font-size: 20px;
  line-height: 28px;
}

/* Section Footer */
#footer {
  display: block;
  height: 858px;
  background: #f0fffe;
  width: 100%;
}

#footer .data {
  padding: 80px 0;
  text-align: center;
}

#footer .data img {
  width: 764px;
  height: 278px;
}

#footer .data h2 {
  font-weight: 600;
  font-size: 46px;
  line-height: 54px;
  margin: 24px 0;
}

#footer .data p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

#footer .data p:last-child {
  margin-top: 24px;
}
