//Packages Section
#section__packages {
  margin: 0 16px;
  margin-top: 40px;
  height: auto;

  @include responsive(mobile-large) {
    margin: 0 24px;
    margin-top: 78px;
  }

  @include responsive(tablet) {
    margin-top: 48px;
  }

  @include responsive(pc-small) {
    margin-top: 40px;
  }

  .packages__text {
    margin-bottom: 24px;

    @include responsive(tablet) {
      margin-bottom: 32px;
    }

    @include responsive(pc-small) {
      margin-bottom: 40px;
    }

    @include responsive(pc) {
      margin-bottom: 32px;
    }

    h1 {
      @include textTypography(Inter, 24px, normal, 600, 32px, 0, center);
      color: $text-packages;

      #gold_free {
        color: $text-blue;
      }

      @include responsive(mobile-large) {
        @include textTypography(Inter, 56px, normal, 600, 62px, -2.4px, center);
        color: #18214d;

        padding-bottom: 16px;

        #gold_free {
          color: #18214d;
        }
      }
    }

    p {
      @include textTypography(Inter, 14px, normal, 400, 22px, 0, center);
      color: $text-light-grey;

      @include responsive(mobile-large) {
        @include textTypography(Inter, 20px, normal, 400, 28px, 0, center);
      }
    }
  }

  .all__packages {
    @include responsive(tablet) {
      display: flex;
      justify-content: center;

      .free__package,
      .gold__package {
        max-width: 348px;
      }

      .free__package {
        margin-right: 12px;
      }

      .gold__package {
        margin-left: 12px;
      }
    }

    @include responsive(pc-small) {
      .free__package,
      .gold__package {
        max-width: 380px;
      }
    }

    @include responsive(pc) {
      .free__package,
      .gold__package {
        max-width: 368px;
      }
    }

    @include responsive(pc-large) {
      .free__package,
      .gold__package {
        max-width: 499px;
      }
    }

    //Free package
    .free__package {
      height: 100%;
      background: $background-grey_light;
      box-shadow: 0px 2px 4px rgba(8, 24, 35, 0.06),
        0px 4px 6px rgba(8, 24, 35, 0.1);
      border-radius: 4px;
      padding-top: 16px;

      .package__free__text {
        padding: 40px 24px;
        box-shadow: inset 0px -1px 0px #e1e3e5;

        h2 {
          @include textTypography(
            Inter,
            38px,
            normal,
            600,
            46px,
            -1.5px,
            center
          );
          color: $text-dark;
          margin-bottom: 24px;
        }

        p {
          @include textTypography(
            Inter,
            18px,
            normal,
            400,
            26px,
            -0.3px,
            center
          );
          color: #3e4462;
          margin-bottom: 32px;
          max-width: 320px;

          &#per_year {
            @include textTypography(Inter, 14px, normal, 400, 22px, 0, center);
            color: $text-light-grey;
            margin: 0;
          }
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            width: 100%;
            text-decoration: none;
            @include textTypography(Inter, 16px, normal, 600, 24px, 0, center);
            color: $text-blue;
            padding: 8px 16px;
            border: 1px solid $text-blue;
            border-radius: 4px;
            margin: 34px 0 8px 0;
          }
        }
        h1 {
          @include textTypography(Inter, 56px, normal, 600, 64px, 0, center);
          color: $text-dark;
        }
      }

      .package__list__item1,
      .package__list__item2 {
        padding-top: 36px;

        box-shadow: inset 0px -1px 0px #e1e3e5;

        div {
          display: flex;
          justify-content: center;
          margin-bottom: 28px;
        }

        ul {
          list-style: none;
          padding-left: 25px;

          li:before {
            content: "\2192";
            padding-right: 15px;
          }

          li {
            @include textTypography(Inter, 16px, normal, 400, 24px, 0, left);
            color: $text-light-grey;
            padding-bottom: 16px;

            &.fade_item {
              color: #acaeb7;
            }

            &.space {
              padding-bottom: 32px;
            }
          }
        }
      }

      .package__list__item2 {
        @include responsive(tablet) {
          padding-bottom: 56px;
        }
      }

      .package__get__started {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        padding: 32px 24px;
        text-align: center;

        a {
          text-decoration: none;
          @include textTypography(Inter, 16px, normal, 600, 24px, 0, center);
          color: $text-blue;

          &.get__started {
            padding: 8px 16px;
            border: 1px solid $text-blue;
            border-radius: 4px;
            margin-bottom: 32px;
          }
        }
      }
    }

    .gold__package {
      display: none;

      @include responsive(tablet) {
        display: block;
        height: 100%;
        background: $background-grey_light;
        background: #f9f9fa;
        box-shadow: 0px 20px 25px rgba(8, 24, 35, 0.1),
          0px 10px 10px rgba(8, 24, 35, 0.04);
        border-radius: 4px;
        padding-top: 16px;

        .package__gold__text {
          padding: 40px 24px;
          box-shadow: inset 0px -1px 0px #e1e3e5;
          .gold__h2 {
            display: flex;
            justify-content: center;

            img {
              width: 38px;
              height: 38px;
              border-radius: 50%;
              padding-top: 3px;
              margin-right: 10px;
            }
            h2 {
              @include textTypography(
                Inter,
                38px,
                normal,
                600,
                46px,
                -1.5px,
                center
              );
              color: $text-dark;
              margin-bottom: 24px;
            }
          }
          p {
            @include textTypography(
              Inter,
              18px,
              normal,
              400,
              26px,
              -0.3px,
              center
            );
            color: #3e4462;
            margin-bottom: 32px;
            max-width: 320px;

            &#per_year {
              @include textTypography(
                Inter,
                14px,
                normal,
                400,
                22px,
                0,
                center
              );
              color: $text-light-grey;
              margin: 0;
            }
          }

          div {
            display: flex;
            justify-content: center;
            a {
              width: 100%;
              text-decoration: none;
              @include textTypography(
                Inter,
                16px,
                normal,
                600,
                24px,
                0,
                center
              );
              color: $text-blue;

              &.try__gold__free {
                color: #fff;
                padding: 8px 16px;
                background: linear-gradient(
                  82.89deg,
                  #33def2 5.55%,
                  #1e7ad5 50%,
                  #1e00d5 94.45%
                );
                border: none;
                border-radius: 4px;
                margin: 34px 0 10px 0;
              }
            }
          }

          h1 {
            @include textTypography(Inter, 56px, normal, 600, 64px, 0, center);
            color: $text-dark;
          }
        }
      }

      .package__list__item1,
      .package__list__item2 {
        padding-top: 36px;

        box-shadow: inset 0px -1px 0px #e1e3e5;

        div {
          display: flex;
          justify-content: center;
          margin-bottom: 28px;
        }

        ul {
          list-style: none;
          padding-left: 25px;

          li:before {
            content: "\2192";
            padding-right: 15px;
          }

          li {
            @include textTypography(Inter, 16px, normal, 400, 24px, 0, left);
            color: $text-light-grey;
            padding-bottom: 16px;

            &.space {
              padding-bottom: 32px;
            }
          }
        }
      }

      .package__list__item2 {
        padding-bottom: 32px;
      }

      .package__get__started {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        padding: 32px 24px;
        text-align: center;

        a {
          text-decoration: none;
          @include textTypography(Inter, 16px, normal, 600, 24px, 0, center);
          color: $text-blue;

          &.try__gold__free {
            color: #fff;
            padding: 8px 16px;
            background: linear-gradient(
              82.89deg,
              #33def2 5.55%,
              #1e7ad5 50%,
              #1e00d5 94.45%
            );
            border: none;
            border-radius: 4px;
            margin-bottom: 32px;
          }
        }
      }
    }
  }
}
