//Features Section
#section__features {
  margin-top: 64px;

  @include responsive(tablet) {
    margin-top: 80px;
  }

  //Features Heading and paragraph
  .features__text {
    display: block;
    max-width: 288px;
    margin: 0 auto;
    margin-bottom: 24px;

    @include responsive(mobile-large) {
      max-width: 528px;
    }

    @include responsive(tablet) {
      max-width: 720px;
    }

    @include responsive(pc-small) {
      max-width: 956px;
    }

    h1 {
      @include textTypography(Inter, 30px, normal, 600, 38px, 0, center);
      color: #18214d;
      margin-bottom: 16px;

      @include responsive(mobile-large) {
        @include textTypography(Inter, 56px, normal, 600, 62px, -2.4px, center);
      }
    }

    p {
      @include textTypography(Inter, 18px, normal, 400, 26px, -0.3px, center);
      color: $text-light-grey;
      margin-bottom: 24px;

      @include responsive(tablet) {
        margin-bottom: 32px;
      }
    }
  }

  //Change Boxes
  .features__navigation {
    display: flex;
    justify-content: center;

    .btn {
      border: none;
      padding: 8px 24px;
      margin: 0 8px;
      border-radius: 4px;
      @include textTypography(Inter, 18px, normal, 400, 26px, 0, center);

      &:hover {
        cursor: pointer;
        background: $text-light-grey;
        color: #fff;
      }

      &:focus {
        outline: none;
      }
    }
  }

  //Features Mini Menu
  .features__mini__menu {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      li {
        padding: 16px 0;
        margin: 0 12px;

        a {
          text-decoration: none;
        }

        &.active {
          box-shadow: inset 0px -2px 0px $text-blue;

          a {
            color: $text-blue;
            font-weight: 600;
          }
        }
      }
    }
  }

  //Features boxes
  .feature__boxes {
    margin: 24px 0;
    width: 100%;
    overflow: hidden;

    .boxes__container {
      display: flex;
      margin-left: 24px;
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;

      .box {
        background-color: $background-grey_light;
        min-width: calc(100% - 24px);
        padding: 24px 16px;
        margin-left: 8px;
        box-shadow: 0px 1px 2px rgba(8, 24, 35, 0.06),
          0px 1px 3px rgba(8, 24, 35, 0.1);
        border-radius: 4px;

        @include responsive(mobile-large) {
          min-width: calc(50% - 8px);
        }

        @include responsive(pc-small) {
          min-width: calc(33% - 8px);
        }

        @include responsive(pc) {
          min-width: calc(25% - 8px);
        }

        &:first-child {
          margin: 0;
        }

        &:last-child {
          margin-right: 8px;
        }

        .box__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #f0ebff;
          border-radius: 50%;
          height: 48px;
          width: 48px;
          margin-bottom: 16px;
        }

        .box__text {
          h3 {
            @include textTypography(Inter, 20px, normal, 600, 28px, 0, left);
            color: #18214d;
            margin-bottom: 8px;
          }

          p {
            @include textTypography(Inter, 16px, normal, 400, 24px, 0, left);
            color: $text-light-grey;
          }
        }
      }
    }
  }
}
