//Section Footer
#footer {
  background-color: $text-darkest-blue;
  width: 100%;

  .footer__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 36px 0;
    margin: 0 16px;
    border-bottom: 1px solid #262b4b;

    @include responsive(tablet) {
      margin: 0 24px;
    }

    @include responsive(pc-small) {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__logo__white {
      padding-bottom: 36px;

      @include responsive(mobile-large) {
        display: none;
      }
    }

    .footer__socials {
      img {
        margin-right: 11px;
        cursor: pointer;

        &:last-child {
          margin: 0;
        }
      }
    }

    .footer__download__buttons {
      display: none;

      @include responsive(pc-small) {
        display: flex;
      }

      .appstore__download,
      .playstore__download {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        background: $text-blue;
        padding: 13px 17px;
        border-radius: 6.42424px;
        color: #fff;
        cursor: pointer;

        &:hover {
          background: rgba($color: #2c29ff, $alpha: 1);
        }

        img {
          margin-right: 13px;
          height: 25.7px;
          width: 25.7px;
        }

        p {
          @include textTypography(
            Inter,
            11.25px,
            normal,
            400,
            16px,
            -0.32px,
            left
          );
        }

        h3 {
          @include textTypography(
            Inter,
            16px,
            normal,
            400,
            22.5px,
            -0.4px,
            left
          );
        }
      }

      .appstore__download {
        margin-right: 13px;
      }
    }
  }

  //Footer nav links
  .footer__links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 64px;
    padding: 40px 16px;

    #margin__top {
      margin-top: -64px;
    }

    @include responsive(tablet) {
      padding: 40px 24px;
    }

    @include responsive(mobile-large) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 64px 27px;
      padding-top: 32px;
    }

    @include responsive(pc-small) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 60px 23px;
    }

    @include responsive(pc) {
      grid-gap: 64px 23px;
    }

    @include responsive(mobile-large) {
      #margin__top {
        margin-top: 40px;
      }
    }

    .list__links {
      p {
        @include textTypography(Inter, 16px, normal, 600, 24px, 0, left);
        color: $text-lighter-grey;
        margin-bottom: 16px;

        a {
          text-decoration: none;

          &#new__button {
            @include textTypography(Inter, 12px, normal, 400, 20px, 0, left);
            color: #fff;
            background-color: $text-blue;
            padding: 1px 8px;
            border-radius: 4px;
            margin-left: 8px;
            &:hover {
              background: rgba($color: #2c29ff, $alpha: 1);
            }
          }
        }
      }

      ul {
        list-style: none;
        cursor: pointer;

        li {
          margin-bottom: 8px;

          &#last__item {
            margin-bottom: 0;
            padding-top: 8px;
          }

          a {
            text-decoration: none;
            @include textTypography(Inter, 16px, normal, 400, 24px, 0, left);
            color: #acaeb7;
          }

          img {
            margin-right: 8.5px;
            width: 16px;

            &#right-arrow {
              width: auto;
            }
          }
        }
      }
    }
  }

  //Footer Copyrights
  .footer__copyrights {
    padding: 32px 18px;
    background: #000420;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include responsive(tablet) {
      padding: 32px 24px;
    }

    @include responsive(pc-small) {
      padding: 40px 18px;
      grid-template-columns: repeat(3, 1fr);

      .footer__address {
        grid-column: 2 / 4;
      }
      .footer__copy {
        grid-column: 1 / -1;
      }
    }

    .copyrights__logo {
      margin-bottom: 24px;
      margin-top: 8px;

      @include responsive(pc-small) {
        margin-top: 0;
      }
    }

    .footer__address {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      @include responsive(mobile-large) {
        grid-template-columns: repeat(2, 1fr);
      }

      #address__paragraphs {
        p {
          @include textTypography(Inter, 14px, normal, 400, 22px, 0, left);
          color: #acaeb7;
        }
        margin-bottom: 24px;
      }
    }

    .footer__copy {
      padding-top: 24px;
      border-top: 1px solid #262b4b;
      p {
        @include textTypography(Inter, 16px, normal, 400, 24px, 0, center);
        color: #acaeb7;
      }
    }
  }
}
