/* Smartphones */
/* Hide Navigation Logo Text */
#navigation #navigation__menu .navigation__image img:last-child {
  display: block;
}

/* Display Only Logo */
#navigation #navigation__login {
  display: none;
}

#navigation #navigation__menu nav {
  display: none;
}

#navigation #navigation__menu .navigation__image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation #navigation__hamburger {
  display: block;
}

#navigation {
  margin: 17px;
  padding: 0;
}

/* Grid Boxes */
#what {
  height: auto;
  margin: 40px 16px;
}
#what .boxes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

#what h1 {
  font-size: 30px;
  line-height: 38px;
  padding: 0;
  padding-bottom: 40px;
}

#what .boxes {
  margin: 0;
}

#what .boxes .box {
  margin-bottom: 24px;
}

#what .boxes .box:last-child {
  margin-bottom: 0;
}

/* Paragraph content */
#text {
  margin-bottom: 40px;
}
#text p {
  font-size: 18px;
  line-height: 28.8px;
  margin: 0 17px;
  padding-top: 32px;
}

/* Grid Work */
#work {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

#work .image {
  max-width: 288px;
  max-height: 288px;
  margin: auto;
}

#work .image img {
  width: 100%;
}

#work .info {
  display: block;
  margin: 40px 16px;
  margin-top: 30px;
}

#work .info h2 {
  font-size: 30px;
  line-height: 38px;
}

#work .info p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

/* Footer */
#footer .data {
  margin: 40px 16px;
}
#footer .data .footer-image {
  max-width: 300px;
}

#footer .data h2 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
}

@media (min-width: 576px) {
  /* Hide Navigation Logo Text */
  #navigation {
    margin: 17px 25px;
  }

  #navigation #navigation__menu .navigation__image img:last-child {
    display: block;
  }

  /* Display Only Logo */
  #navigation #navigation__login {
    display: none;
  }

  #navigation #navigation__menu nav {
    display: none;
  }

  #navigation #navigation__menu .navigation__image {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navigation #navigation__hamburger {
    display: block;
  }

  /* What Section */
  #what {
    margin: 64px 24px;
    height: auto;
  }

  #what h1 {
    margin: 40px;
    padding: 0;
    font-size: 46px;
    line-height: 54px;
  }

  #what .boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }

  #what .boxes .box {
    width: 100%;
    height: 248px;
    margin: 0;
  }

  /* Text Section */
  #text {
    font-size: 18px;
    line-height: 28.8px;
    margin: 0 24px;
    margin-bottom: 64px;
  }

  #text p {
    font-size: 24px;
    line-height: 38.4px;
    padding: 0;
    padding-top: 32px;
    letter-spacing: -1.2px;
    font-weight: 400;
  }

  /* Grid Work */
  #work {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #work .info h2 {
    font-size: 46px;
    line-height: 54px;
    font-weight: 600;
  }

  #work .image {
    display: block;
    max-width: 527px;
    max-height: 527px;
    margin: auto;
  }

  #work .image img {
    width: 100%;
    height: 100%;
  }

  #work .info {
    display: block;
    margin: 0 24px;
    padding: 40px 0;
  }

  /* Footer */
  #footer .data {
    margin: 64px 24px;
  }

  #footer .data .footer-image {
    max-width: 560px;
  }

  #footer .data h2 {
    font-size: 46px;
    line-height: 54px;
  }
}
