:root {
  --primary-color: #f0ebff;
  --light-red: #f29983;
  --light-blue: #b0ffff;
  --light-orange: #fff1b8;
  --light-green: #d9f7be;
  --large-screen: 992px;
  --medium-screen: 768px;
  --small-screen: 576px;
  --extrasmall-screen: 320px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

/* Utilities */
.text_bold {
  font-weight: bold;
}

.text_underlined {
  text-decoration: underline;
  color: #1e00d5;
  font-weight: 600;
}

.text_blue {
  color: #1e00d5;
  font-weight: 600;
}

/* Nav Menu */
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background: #fff;
  padding: 16px 24px;
  margin: auto;
}

#navigation a {
  color: #53576f;
}

#navigation #navigation__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation #navigation__menu ul,
#navigation #navigation__login ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#navigation #navigation__menu .navigation__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation #navigation__menu .navigation__image img {
  margin-right: 15px;
}

#navigation #navigation__menu ul li,
#navigation #navigation__login ul li {
  position: relative;
  margin-left: 25px;
}

/* Dropdown Hidden by Default */
#navigation #navigation__menu ul li ul {
  display: none;
}

#navigation #navigation__menu ul li:hover {
  cursor: pointer;
}

/* Dropdown Show */
#navigation #navigation__menu ul li:hover ul {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  padding: 10px;
  margin-top: 16px;
  z-index: 1;
}

#navigation #navigation__menu ul li:hover ul li {
  display: block;
  padding: 10px;
  background: #e7e7e7;
}

#navigation #navigation__menu ul li:hover ul li a {
  color: #333;
}

#navigation #navigation__menu ul li:hover ul li:hover {
  background: #e0e0e0;
  color: inherit;
}

#new {
  color: #1e00d5;
  font-weight: 600;
  font-size: 12px;
}

#navigation #navigation__login {
  display: flex;
  justify-content: end;
  align-items: center;
}

#navigation #navigation__login #search {
  position: relative;
  color: #e1e3e5;
  padding-right: 24px;
}

#navigation #navigation__login #search:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 30px;
  transform: translateY(-50%);
  border-right: 1px solid #e1e3e5;
}

#navigation #navigation__login ul li a {
  color: #1e00d5;
  cursor: pointer;
}

#navigation #navigation__login ul li button {
  background: linear-gradient(to right, #33def2, #1e7ad5, #1e00d5);
  padding: 5px 16px;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

#navigation #navigation__hamburger {
  display: none;
  color: #53576f;
  width: 18.75px;
  height: 16.5px;
}

#navigation #navigation__hamburger i {
  width: 100%;
  height: 100%;
}

/* Section What */
#what {
  display: block;
  height: auto;
  background: #ffffff;
  margin: auto;
}

#what h1 {
  text-align: center;
  font-weight: 600;
  font-size: 46px;
  line-height: 54px;
  padding: 64px 0;
}

#what .boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}

#what .boxes .box {
  height: 270px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#what .boxes .box-1 {
  background: var(--light-red);
  flex: 1;
}

#what .boxes .box-2 {
  background: var(--light-blue);
  flex: 1;
}

#what .boxes .box-3 {
  background: var(--light-orange);
  flex: 1;
}

#what .boxes .box-4 {
  background: var(--light-green);
  flex: 1;
}

#what .boxes .box-1 i {
  color: #cc210d;
}

#what .boxes .box-2 i {
  color: #33def2;
}

#what .boxes .box-3 i {
  color: #faad14;
}

#what .boxes .box-4 i {
  color: #52c41a;
}

#what .boxes p {
  position: absolute;
  bottom: 27px;
  font-size: 20px;
  line-height: 28px;
  color: #262b4b;
  font-weight: 400;
}

/* Section Text */
#text {
  display: block;
  margin: 0;
}

#text p {
  margin: auto;
  color: #262b4b;
  font-size: 24px;
  line-height: 38.4px;
  letter-spacing: -1.2px;
  text-align: center;
}

/* Section Work */
#work {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#work .image {
  max-height: 657px;
}

#work .image img {
  height: 100%;
  max-width: 657px;
}

#work .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 192px 155px;
}

#work .info h2 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 600;
  margin-bottom: 24px;
}

#work .info p {
  font-size: 20px;
  line-height: 28px;
  color: #53576f;
}

/* Section Footer */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background: #f0fffe;
  margin: auto;
}

#footer .data {
  margin: 80px 418px;
  width: auto;
  text-align: center;
}

#footer .data .footer-image {
  max-width: 500px;
  height: auto;
  margin: auto;
}

#footer .data .footer-image img {
  width: 100%;
}

#footer .data h2 {
  font-weight: 600;
  font-size: 46px;
  line-height: 54px;
  padding: 24px 0;
}

#footer .data p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #53576f;
  font-weight: 600;
}

#footer .data p:last-child {
  margin-top: 24px;
  font-weight: 400;
}
