/* Tablet */
@media (min-width: 768px) {
  /* Hide Navigation Logo Text */
  #navigation #navigation__menu .navigation__image img:last-child {
    display: block;
  }

  /* Display Only Logo */
  #navigation #navigation__login {
    display: none;
  }

  #navigation #navigation__menu nav {
    display: none;
  }

  #navigation #navigation__menu .navigation__image {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navigation #navigation__hamburger {
    display: block;
  }

  /* What Section */
  #what {
    margin: 64px 117px;
    height: auto;
  }

  #what h1 {
    margin: 0;
    padding: 40px 0;
  }

  #what .boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }

  #what .box {
    margin: 16px 13px;
    width: 100%;
  }

  /* Text Section */
  #text {
    margin: 0 117px;
    padding-bottom: 64px;
  }

  #text p {
    margin: 0;
  }

  /* Work Section */
  #work .image {
    max-width: 279px;
    height: auto;
  }

  #work .info {
    margin: 0;
    padding: 0 48px;
    padding-left: 40px;
  }

  /* Work Section */
  #work {
    display: grid;
    grid-template-columns: 279px 1fr;
  }

  #work .image img {
    width: 100%;
  }

  #work .info {
    margin: 24px 0;
  }

  /* Footer */
  #footer .data {
    margin: 80px 117px;
  }

  #footer .data .footer-image {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  /* Nav */
  #navigation #navigation__hamburger {
    display: none;
  }

  #navigation #navigation__login {
    display: flex;
  }

  #navigation #navigation__menu nav {
    display: flex;
  }

  /* Hide Navigation Logo Text */
  #navigation #navigation__menu .navigation__image img:last-child {
    display: none;
  }

  /* What Section */
  #what {
    margin: 64px 26px;
  }

  #what h1 {
    padding: 0;
    padding-bottom: 40px;
  }

  #what .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    height: auto;
    margin: auto;
  }

  #what .boxes .box {
    height: 248px;
    width: 100%;
  }

  /* Text Section */
  #text {
    margin: 0 106px;
  }

  #text p {
    text-align: center;
    font-weight: 400;
  }

  /* Work Section */
  #work {
    display: grid;
    grid-template-columns: 484px 1fr;
  }

  #work .image {
    max-width: 484px;
    max-height: 484px;
  }

  #work .image img {
    width: 100%;
    height: auto;
  }

  #work .info {
    margin: 119px 25px;
    padding: 0;
  }

  /* Footer */
  #footer .data {
    margin: 80px 108px;
  }
}
