@media (min-width: 1200px) {
  /* Nav */
  #navigation #navigation__menu .navigation__image img:last-child {
    display: block;
  }

  /* What Section */
  #what {
    margin: 64px 24px;
  }

  #what .boxes {
    margin: 0;
    padding-bottom: 0;
  }

  /* Text Section */
  #text {
    margin: 0 122px;
  }

  #text p {
    width: auto;
  }

  /* Work Section */
  #work {
    display: grid;
    grid-template-columns: 588px 1fr;
  }

  #work .image {
    min-height: 588px;
    min-width: 588px;
  }

  #work .image img {
    width: 100%;
    height: 100%;
  }

  #work .info {
    margin: 164px 48px;
    padding: 0;
  }

  #work .info p {
    font-size: 18px;
    line-height: 26px;
  }

  /* Footer Section */
  #footer .data {
    margin: 80px 220px;
  }
}

@media (min-width: 1600px) {
  /* What Section */
  #what {
    margin: 64px 24px;
  }
  /* Text Section */
  #text {
    margin: 0 418px;
  }

  /* Work Section */
  #work {
    display: grid;
    grid-template-columns: 657px 1fr;
  }

  #work .image {
    max-width: 657px;
    max-height: 657px;
  }

  #work .image img {
    width: 100%;
    height: auto;
  }

  #work .info {
    margin: 191px 155px;
  }

  #work .info p {
    font-size: 20px;
    line-height: 28px;
  }

  /* Footer Section */
  #footer .data {
    margin: 80px 417px;
  }

  #footer .data .footer-image {
    max-width: 1000px;
  }
}
